
Python Codes/Multilayered Neural Network/MNIST

# Ignore zip types #

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore video files #

*.mkv
*.mp4
*.wmv

# Ignore .svg files

*.svg


Faculdade/6o Semestre/Analise Real/*
Faculdade/6o Semestre/PMR/*
Faculdade/6o Semestre/Controle/*
