
Python Codes/Multilayered Neural Network/MNIST

# Ignore zip types #

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore video files #

*.mkv
*.mp4
*.wmv

# Ignore .svg files

*.svg


Faculdade/6o Semestre/Analise Real/*
Faculdade/6o Semestre/PMR/*
Faculdade/6o Semestre/Controle/*
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.tex.bak
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.tex
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.pdf
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.out
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.log
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.aux
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Figure_6.png
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Figure_5.png
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Figure_4.png
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Figure_3.png
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Figure_2.png
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Figure_1.png
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.tex
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.pdf
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.log
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.aux
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.aux
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.log
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.pdf
Faculdade/6o Semestre/EDO II/EP_1/Relatorio/Relatorio - EP 1 - Erik Davino Vincent - 10736584.tex
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Figure_1.png
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Figure_2.png
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Figure_3.png
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Figure_4.png
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Relatorio - EP 2 - Erik Davino Vincent - 10736584.aux
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Relatorio - EP 2 - Erik Davino Vincent - 10736584.log
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Relatorio - EP 2 - Erik Davino Vincent - 10736584.out
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Relatorio - EP 2 - Erik Davino Vincent - 10736584.pdf
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Relatorio - EP 2 - Erik Davino Vincent - 10736584.tex
Faculdade/6o Semestre/EDO II/EP_2/Relatorio/Relatorio - EP 2 - Erik Davino Vincent - 10736584.tex.bak
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_1.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_2.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_3.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_4.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_5.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_6.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_7.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Figure_8.png
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Relatorio - EP 3 - Erik Davino Vincent - 10736584.aux
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Relatorio - EP 3 - Erik Davino Vincent - 10736584.log
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Relatorio - EP 3 - Erik Davino Vincent - 10736584.tex
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Relatorio - EP 3 - Erik Davino Vincent - 10736584.tex.bak
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Relatorio - EP 3 - Erik Davino Vincent - 10736584.out
Faculdade/6o Semestre/EDO II/EP_3/Relatorio/Relatorio - EP 3 - Erik Davino Vincent - 10736584.pdf
