
Python Codes/Multilayered Neural Network/MNIST

# Ignore zip types #

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore video files #

*.mkv
*.mp4
*.wmv

# Ignore .svg files

*.svg


Faculdade/6o Semestre/Analise Real/Listas/Lista_1_2020.pdf
Faculdade/6o Semestre/Analise Real/Listas/LISTA 1 - ERIK DAVINO VINCENT -10736584 - MAP0216.docx
Faculdade/6o Semestre/Analise Real/Listas/LISTA 1 - ERIK DAVINO VINCENT -10736584 - MAP0216.pdf
Faculdade/6o Semestre/Analise Real/Listas/Lista_2_2020.pdf
